@media screen and (min-width: 458px) {
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--toolbar-background-color);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    z-index: 9;
  }
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .flex {
    display: flex;
  }
  .link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    color: var(--font-color);
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    transition: border 200ms ease;
  }
  .link:hover {
    background: var(--dark-opacity-hover);
  }
  .link:focus {
    outline: none;
    background: var(--dark-opacity-hover);
  }
  .link:active {
    outline: none;
    background: var(--dark-opacity-hover);
  }
  .button {
    cursor: pointer;
    border: none;
    outline: none;
    position: relative;
    color: var(--font-color);
    font-size: 1.05rem;
    padding: 1rem;
  }
  .button:hover {
    background: var(--dark-opacity-hover);
  }
  .submenu {
    display: none;
  }
  .submenuOpen {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 1rem;
  }
  .submenuOpen > li {
    list-style: none;
  }
  .subLink {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    color: var(--font-color);
    background: var(--toolbar-background-color);
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    transition: border 200ms ease;
  }
  .subLink:hover {
    background: var(--reverse);
  }
  .subLink:focus {
    outline: none;
    background: var(--reverse);
  }
  .subLink:active {
    outline: none;
    background: var(--reverse);
  }
}
